/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Asterisk wildcard selector to override default syles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color:#3a3a3a;
    font-family: Josefin Sans, sans-serif;
}

/* Header */
header {
    background-color: #f0edec;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #4a352b;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}
 h1,h2,h3,h4,h5,h6 {
    font-family:"Montserrat", sans-serif;
 }

 #logo {
    font-family:"Great Vibes", cursive;
    letter-spacing: 2px;
    color: #4a352b;
    margin-top: .5em;
    margin-bottom: .5em;
 }

 #menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
    color: #4a352b;
 }

 #menu li {
    margin-bottom: 1em;
 }

 .active {
    border-bottom: 1px solid #4a352b;
 }

 /* Navbar styles with dropdown toggle */
 nav {
    position: absolute;
    background-color:#f0edec;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #4a352b;
    display: none;
    top: 100%;
 }

 /* Nav toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    font-size: 2rem;
 }
/* Main */ 
main {
    background-color:#E0E0F3;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* Hero section */
#hero {
    height: 850px;
    width: 100%;
    background: url(../images/hero.jpg) no-repeat center top/cover;
}

/* Footer */
footer {
    background-color: #977d68
    ;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #4a352b;
    }
    
}